<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Kakebo - {% block title%}{% endblock %}</title>
    </head>
    <body>
        <header>
            <p>Boot Z 6 - Kakebo</p>
        </header>

        <section>
            {% block mi_precioso_bloque_de_formato %}{% endblock %}
        </section>
        
        <footer>
            &copy; 2020 -2021. Todos los derechos reservados
        </footer>
    </body>

</html>